<header>
    <div class="container">
        <a routerLink="/" class="logo">PC Generator</a>
        <nav>
            <ul>
                <li>
                    <a routerLink="/pcs/catalog">Our Offers</a>
                </li>
                <ng-container *ngIf="authService.isLogged">
                    <li>
                        <a routerLink="/pcs/create">Create your PC</a>
                    </li>
                    <li class="menu-container">
                        <a routerLink="/dashboard">{{authService.user?.username}}</a>
                        <div class="menu">
                            <a routerLink="/auth/profile">Profile</a>
                            <a routerLink="/auth/logout">Logout</a>
                        </div>
                    </li>
                </ng-container>
                <ng-container *ngIf="!authService.isLogged">
                    
                    <li>
                        <a routerLink="/auth/login">Login</a>
                    </li>
                    <li>
                        <a routerLink="/auth/register">Register</a>
                    </li>
                </ng-container>
            </ul>
        </nav>
    </div>
</header>