<header>
    <div class="container">
        <a routerLink="/" class="logo">Pc's</a>
        <nav>
            <ul>
                <li>
                    <a routerLink="/pc/catalog">Our Offers</a>
                </li>
                <ng-container *ngIf="isLoggedId">
                    <li>
                        <a routerLink="/pc/create">Create your PC</a>
                    </li>
                    <li class="menu-container">
                        <a routerLink="/dashboard">Username</a>
                        <div class="menu">
                            <a routerLink="/auth/profile">Profile</a>
                            <a (click)="logout()">Logout</a>
                        </div>
                    </li>
                </ng-container>
                <ng-container *ngIf="!isLoggedId">
                    <li>
                        <a routerLink="/auth/login">Login</a>
                    </li>
                    <li>
                        <a routerLink="/auth/register">Register</a>
                    </li>
                </ng-container>
            </ul>
        </nav>
    </div>
</header>