* {
    margin: 0;
    padding: 0;
}

.background-image   {
    background-image: url('../../assets/background.webp');
    background-size: contain;
    background-repeat: no-repeat;
    height: 150vh;
    width: 250vh;
    // background-size: 100%;
    // background-size: cover;
}