h1 {
    position: relative;
    color: red;
    font-size: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.template {
    height: 300px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

article {
    height: 400px;
    display: flex;
    justify-content: space-between;
}

.details {
    position: relative;
    font-size: 40px;
    margin: 40px;
    top: 200px;
    right: 20px;
    color: black;
}
