<h1 *ngIf="!hasPc">Loading...</h1>
<ng-container *ngIf="hasPc">
    <section class="details">
        <div class="container">
            <div class="pc-info">
                <div>
                    <h1 class="header">{{singlePc?.pcName}}</h1>
                    <img class="img" src={{singlePc?.img}} alt="pc-image">
            </div>
            <div class="pc-details">
                <h2 class="info">Details</h2>
                <div class="properties">
                    <p>Name: {{singlePc?.pcName}}</p>
                    <p>CPU: {{singlePc?.cpu}}</p>
                    <p>Motherboard: {{singlePc?.motherboard}}</p>
                    <p>GPU: {{singlePc?.gpu}}</p>
                    <p>RAM: {{singlePc?.ram}}</p>
                    <p>Storage: {{singlePc?.storage}}</p>
                    <p>Power Supply: {{singlePc?.powerSupply}}</p>
                    <p>Box: {{singlePc?.box}}</p>
                    <p>Price: {{singlePc?.price}} BGN</p>
                </div>
                <ng-container *ngIf="isOwner">
                    <div class="actions-update">
                        <button class="btn btn-seconday" [routerLink]="['/pcs/update', singlePc?._id]">Update</button>
                    </div>
                    <div class="actions-delete">
                        <button class="btn btn-seconday" (click)="deletePc()">Delete</button>
                    </div>
                </ng-container>
                <ng-container *ngIf="hasUser && !isOwner">
                    <ng-container *ngIf="!isAddedToCart">
                        <div class="actions-update">
                            <button class="btn btn-seconday" (click)="addPcToCart()">Buy</button>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="isAddedToCart">
                        <div class="actions-delete">
                            <button class="btn btn-seconday">Already bought!</button>
                        </div>
                    </ng-container>
                </ng-container>
            </div>
        </div>
    </div>
</section>
</ng-container>